body
{
	/*background-image: url(images/design.jpg);*/
	/*background-repeat:no-repeat;*/
		font-family: Arial;
	width:70%;
	font-size: 13px;
}

/*  Head */

#pp_im
{
	top :20%;
	margin-left:50%;
	margin-top:20%;
}
#pp_titre
{
	border : 0px;
	text-align : justify;
	font-size: 44px;
	color: white;
	font-family:Freestyle Script;
	padding-left :60%;
	width:40%;
	height: 25px;
	position:relative;
	margin-top :-8%;
}

/*Accueil*/


/*.champ
{
margin-left:50%;
left: 30%;
}*/
#con_button
{
	color:#09F;
}

/*etudinant*/
#etud_img
{
margin-top: -1.5%;	
}
#banner_dark
{
background-color:#000;
height:10%;
width:144%;
border:1px; 
margin-top :1%;
margin-left:-1%;
margin-bottom: 15px;
border: 1px #666	;
}
#pptg_titre
{
	border : 0px;
	text-align : justify;
	font-size:18px;
	color: white;
	font-family:Arial ,Freestyle Script;
	padding-right :40%;
	width:120%;
	height: 25px;
	position:relative;
	margin-top :0%;
	left: -401%;
}
#pptg_nom
{
	color : white ;
	left:-100%;
	position:relative;
	width:150%;
	padding-top:-20%;
	
}














