<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AuthServelet</servlet-name>
    <servlet-class>ecole.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServelet</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ElevesServlet</servlet-name>
    <servlet-class>ecole.ElevesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>ecole.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCoursServlet</servlet-name>
    <url-pattern>/admincours</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminCoursServlet</servlet-name>
    <servlet-class>ecole.AdminCoursServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDetailsProfServlet</servlet-name>
    <url-pattern>/admindetailsprof</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDetailsProfServlet</servlet-name>
    <servlet-class>ecole.AdminDetailsProfServlet</servlet-class>
  </servlet>
  
   <servlet-mapping>
    <servlet-name>AdminActivitesSportivesServelet</servlet-name>
    <url-pattern>/adminactivitessportives</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminActivitesSportivesServelet</servlet-name>
    <servlet-class>ecole.AdminActivitesSportivesServelet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AdminResultatsEleve</servlet-name>
    <url-pattern>/adminreseleve</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminResultatsEleve</servlet-name>
    <servlet-class>ecole.AdminResultatsEleve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProfServlet</servlet-name>
    <url-pattern>/adminprof</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminProfServlet</servlet-name>
    <servlet-class>ecole.AdminProfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElevesServlet</servlet-name>
    <url-pattern>/ElevesServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>